.plans-area{
    background-color: aquamarine;
    padding: 40px 0px;
    border: 2px solid yellow;
    margin: 20px 0px;
}

.plans-area a{
    text-decoration: none;
}

.plans-area h2{
    color: darkgray;
}
.plans-area p{
    padding: 20px;
    border: red solid 2px;
    background-color: white;
    color: orange;
    border-radius: 8px;
}


.plans-area__title{
    color: black;
    
}



.white_title{
    color: white;
}